<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="gallery">
                    <h2 class="gallery-title">About us</h2>
                    <p class="large-image-block">
                        <img id="largeImg" class="large-image" src="https://js.cx/gallery/img1-lg.jpg" alt="Large image">
                    </p>
                    <ul id="thumbs" class="thumbs">
                        <li class="thumbs-item">
                            <a href="https://js.cx/gallery/img2-lg.jpg" class="thumbs-link" title="Image 2">
                                <img src="https://js.cx/gallery/img2-thumb.jpg" class="thumbs-image">
                            </a>
                            <div class="thumbs-name">Dan</div>
                        </li>
                        <li class="thumbs-item">
                            <a href="https://js.cx/gallery/img3-lg.jpg" class="thumbs-link" title="Image 3">
                                <img src="https://js.cx/gallery/img3-thumb.jpg" class="thumbs-image">
                            </a>
                            <div class="thumbs-name">Dan</div>
                        </li>
                        <li class="thumbs-item">
                            <a href="https://js.cx/gallery/img4-lg.jpg" class="thumbs-link" title="Image 4">
                                <img src="https://js.cx/gallery/img4-thumb.jpg" class="thumbs-image">
                            </a>
                            <div class="thumbs-name">Dan</div>
                        </li>
                        <li class="thumbs-item">
                            <a href="../img/slide-1.jpg" title="Image 6" class="thumbs-link">
                                <img src="../img/slide-1.jpg" class="thumbs-image">
                            </a>
                            <div class="thumbs-name">Dan</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
