<section class="account">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="user-name">Name of user</h2>
                <div class="tabs-block">
                    <ul class="tabs">
                        <li class="tab-button">
                            <a class="tab-text active" data-tab="text" href="#">Text</a>
                        </li>
                        <li class="tab-button">
                            <a class="tab-text" data-tab="audio" href="#">Audio</a>
                        </li>
                        <li class="tab-button">
                            <a class="tab-text" data-tab="video" href="#">Video</a>
                        </li>
                    </ul>
                    <div class="tab-area active" id="text">
                        <form class="text-form" method="post">
                            <label for="text-title" class="form-label">Title</label>
                            <div class="tab-input">
                                <input type="text" id="text-title" class="input text-input" autocomplete="off" name="textTitle">
                            </div>
                            <label for="text-category" class="form-label">Category</label>
                            <div class="tab-input">
                                <select name="textCategory" class="input text-input" id="text-category">
                                    <option value="category-1">Test1</option>
                                    <option value="category-2">Test2</option>
                                </select>
                            </div>
                            <label for="text-content" class="form-label">Text</label>
                            <div class="textarea-block">
                                <textarea name="textContent" id="text-content" class="textarea text-input" cols="30" rows="10"></textarea>
                            </div>
                            <input type="submit" class="send-button" value="Save">
                        </form>
                    </div>
                    <div class="tab-area" id="audio">
                        <form class="audio-form" method="post">
                            <label for="audio-title" class="form-label">Title</label>
                            <div class="tab-input">
                                <input type="text" id="audio-title" class="input audio-input" autocomplete="off" name="audioTitle">
                            </div>
                            <label for="audio-category" class="form-label">Category</label>
                            <div class="tab-input">
                                <select name="audioCategory" class="input audio-input" id="audio-category">
                                    <option value="category-1">Test1</option>
                                    <option value="category-2">Test2</option>
                                </select>
                            </div>
                            <label for="audio-content" class="form-label">Audio File</label>
                            <div class="tab-input">
                                <input type="file" id="audio-content" class="input audio-input" autocomplete="off" accept="audio/*" name="audioContent">
                            </div>
                            <input type="submit" class="send-button" value="Save">
                        </form>
                    </div>
                    <div class="tab-area" id="video">
                        <form class="video-form" method="post">
                            <label for="video-title" class="form-label">Title</label>
                            <div class="tab-input">
                                <input type="text" id="video-title" class="input video-input" autocomplete="off" name="videoTitle">
                            </div>
                            <label for="video-category" class="form-label">Category</label>
                            <div class="tab-input">
                                <select name="videoCategory" class="input video-input" id="video-category">
                                    <option value="category-1">Test1</option>
                                    <option value="category-2">Test2</option>
                                </select>
                            </div>
                            <label for="video-content" class="form-label">Video File</label>
                            <div class="tab-input">
                                <input type="file" id="video-content" class="input video-input" autocomplete="off" accept="video/*" name="videoContent">
                            </div>
                            <input type="submit" class="send-button" value="Save">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>