<!--<section class="account">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<h2 class="user-name">Name of user</h2>-->
                <!--<div class="tabs-block">-->
                    <!--&lt;!&ndash;<input id="tab1" class="tab-button" type="radio" name="tabs" checked>-->
                    <!--<label for="tab1" class="label-tab">Text</label>-->

                    <!--<input id="tab2" class="tab-button" type="radio" name="tabs">-->
                    <!--<label for="tab2" class="label-tab">Audio</label>-->

                    <!--<input id="tab3" class="tab-button" type="radio" name="tabs">-->
                    <!--<label for="tab3" class="label-tab">Video</label>&ndash;&gt;-->
                    <!--<ul class="tabs">-->
                        <!--<li class="tab-button active">-->
                            <!--<a class="tab-text" href="#">Text</a>-->
                        <!--</li>-->
                        <!--<li class="tab-button">-->
                            <!--<a class="tab-text" href="#">Audio</a>-->
                        <!--</li>-->
                        <!--<li class="tab-button">-->
                            <!--<a class="tab-text" href="#">Video</a>-->
                        <!--</li>-->
                    <!--</ul>-->

                    <!--<section class="tab-area active" id="content1">-->
                        <!--<p>-->
                            <!--Jerky jowl pork chop tongue, kielbasa shank venison. Capicola shank pig ribeye leberkas filet mignon brisket beef kevin tenderloin porchetta. Capicola fatback venison shank kielbasa, drumstick ribeye landjaeger beef kevin tail meatball pastrami prosciutto pancetta. Tail kevin spare ribs ground round ham ham hock brisket shoulder. Corned beef tri-tip leberkas flank sausage ham hock filet mignon beef ribs pancetta turkey.-->
                        <!--</p>-->
                        <!--<p>-->
                            <!--Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin.-->
                        <!--</p>-->
                    <!--</section>-->

                    <!--<section class="tab-area" id="content2">-->
                        <!--<p>-->
                            <!--Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin.-->
                        <!--</p>-->
                        <!--<p>-->
                            <!--Jerky jowl pork chop tongue, kielbasa shank venison. Capicola shank pig ribeye leberkas filet mignon brisket beef kevin tenderloin porchetta. Capicola fatback venison shank kielbasa, drumstick ribeye landjaeger beef kevin tail meatball pastrami prosciutto pancetta. Tail kevin spare ribs ground round ham ham hock brisket shoulder. Corned beef tri-tip leberkas flank sausage ham hock filet mignon beef ribs pancetta turkey.-->
                        <!--</p>-->
                    <!--</section>-->

                    <!--<section class="tab-area" id="content3">-->
                        <!--<p>-->
                            <!--Jerky jowl pork chop tongue, kielbasa shank venison. Capicola shank pig ribeye leberkas filet mignon brisket beef kevin tenderloin porchetta. Capicola fatback venison shank kielbasa, drumstick ribeye landjaeger beef kevin tail meatball pastrami prosciutto pancetta. Tail kevin spare ribs ground round ham ham hock brisket shoulder. Corned beef tri-tip leberkas flank sausage ham hock filet mignon beef ribs pancetta turkey.-->
                        <!--</p>-->
                        <!--<p>-->
                            <!--Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin.-->
                        <!--</p>-->
                    <!--</section>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->