<section class="main">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-2">
                <aside class="sidebar">
                    <div class="sidebar-close">
                        <p class="close-text">Close</p>
                    </div>
                    <div class="sidebar-item link-collapsed">
                        <a href="" class="link">Test</a>
                        <ul class="sidebar-submenu">
                            <li class="sidebar-submenu-item sidebar-submenu-collapsed">
                                <a href="" class="link">New test</a>
                                <ul class="sidebar-submenu-l2">
                                    <li class="sidebar-submenu-item-l2">
                                        <a href="" class="link">Next level</a>
                                    </li>
                                    <li class="sidebar-submenu-item-l2">
                                        <a href="" class="link">Next level</a>
                                    </li>
                                    <li class="sidebar-submenu-item-l2">
                                        <a href="" class="link">Next level</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-submenu-item">New test</li>
                            <li class="sidebar-submenu-item sidebar-submenu-collapsed">
                                <a href="" class="link">New test</a>
                                <ul class="sidebar-submenu-l2">
                                    <li class="sidebar-submenu-item-l2">
                                        <a href="" class="link">Next level</a>
                                    </li>
                                    <li class="sidebar-submenu-item-l2">
                                        <a href="" class="link">Next level</a>
                                    </li>
                                    <li class="sidebar-submenu-item-l2">
                                        <a href="" class="link">Next level</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-item">
                        <a href="" class="link">Test</a>
                    </div>
                    <div class="sidebar-item link-collapsed">
                        <a href="" class="link">Test</a>
                        <ul class="sidebar-submenu">
                            <li class="sidebar-submenu-item">New test</li>
                            <li class="sidebar-submenu-item">New test</li>
                            <li class="sidebar-submenu-item">New test</li>
                        </ul>
                    </div>
                    <div class="sidebar-item">
                        <a href="" class="link">Test</a>
                    </div>
                    <div class="sidebar-item link-collapsed">
                        <a href="" class="link">Test</a>
                        <ul class="sidebar-submenu">
                            <li class="sidebar-submenu-item">New test</li>
                            <li class="sidebar-submenu-item">New test</li>
                            <li class="sidebar-submenu-item">New test</li>
                        </ul>
                    </div>
                </aside>
                <div class="sidebar-icon">
                    <img src="img/right-arrow.png" alt="right-arrow" class="sidebar-icon-item">
                </div>
            </div>
            <div class="col-lg-10 col-md-12">
                <div class="content">
                    <div class="slider">
                        <div class="search-block">
                            <div class="search-title">
                                <p>Content library for everyone</p>
                            </div>
                            <form action="" class="search-form">
                                <fieldset class="form-holder">
                                    <input type="search" autocomplete="off" class="search-input">
                                    <input type="button" value="Search" class="search-button">
                                </fieldset>
                                <!--<input type="search" autocomplete="off" class="search-input">
                                <input type="button" value="Search" class="search-button">-->
                            </form>
                            <div class="search-text">
                                <p>Find free video, audio and text files</p>
                            </div>
                        </div>
                        <ul id="slides">
                            <li class="slide showing"></li>
                            <li class="slide"></li>
                            <li class="slide"></li>
                        </ul>
                        <div class="background-search"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>